.services
  display: grid
  grid-template-columns: 1fr
  justify-items: center
  text-transform: capitalize

// .title h2
//   font-weight: 300

.serv-lockup
  justify-self: stretch
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  justify-items: center
  align-items: center

  .conditions
    grid-column: 1/2
    grid-row: 1
    text-align: center

    img
      width: 110px
      height: auto

  .treatments
    grid-column: 3/4
    grid-row: 1
    text-align: center

    img
      width: 110px
      height: auto

  .serv-image
    // display: none
    grid-column: 2/3
    grid-row: 1
    max-width: 100%
    height: auto
    border-radius: 100%

  p
    margin-bottom: 0px
    line-height: 2
    font:
      size: 20px
      weight: 300


button
  margin: 50px 0px
  padding: 10px 30px
  background-color: $color-primary-3
  color: $white
  font-size: 14px

  &:hover
    color: $white
    background-color: $color-primary-2

@media screen and (max-width: 830px)
  .serv-lockup
    display: block

    .treatments
      margin-top: 50px

    .serv-image
      display: none
