<section class="contactPage">
  <h3>take the next step in your recovery</h3>
  <div class="infoWrap">
    <div class="contentWrap">
      <div class="iconBox">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div>
        <address>5757 Woodway, Suite 140 <br> Houston, TX.  77057</address>
      </div>
    </div>
    <div class="contentWrap">
      <div class="iconBox">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div>
        <a href="tel:+1-713-840-8100">(713) 840-8100</a>
      </div>
    </div>
    <div class="contentWrap">
      <div class="iconBox">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <div>
        <a href="mailto:casephysicaltherapy@gmail.com">casephysicaltherapy@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="requestWrap">
    <form action="index.html" method="post">
      <h4>Appointment request</h4>
      <div>
        <label for="name">Your Name</label>
        <input type="text" id="name" name="user_name">
      </div>
      <div>
        <label for="telephone">Telephone</label>
        <input type="tel" id="telephone" name="user_telephone">
      </div>
      <div>
        <label for="therapist">Select a Therapist</label>
        <select id="therapist" name="user_therapist">
          <option></option>
          <option>Bill Case</option>
          <option>Isabel Young</option>
        </select>
      </div>
      <div>
        <label for="time">Best Time of Day</label>
        <select id="time" name="user_time">
          <option></option>
          <option>Morning</option>
          <option>Afternoon</option>
        </select>
      </div>
      <div>
        <label for="days">Day(s) Available</label>
        <select multiple id="days" name="user_days">
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
        </select>
      </div>
      <div>
        <button type="submit">Send</button>
      </div>
    </form>
    <div class="mapBox">
      <iframe class="map" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5757%20Woodway%2C%20Suite%20140%20Houston%2C%20TX.%20%2077057&key=AIzaSyBFSmOv7YQ4tyxwP87dNHdhnqZgMu1ET2g" allowfullscreen></iframe>
    </div>
  </div>
</section>
