<section class="about">
  <div class="aboutWrap">
    <div class="aboutBox">
      <h3>therapy with a kind face and a human touch</h3>
      <p>Case Physical Therapy, Inc. was established in 1995 and is located in the Galleria area. We are a small, private practice clinic, with two licensed physical therapists to help meet your specific needs. Our primary goal is to utilize the latest treatment methods and techniques to return the patient back to a level of functional activity as soon as possible.  A wide range of patients are treated at Case Physical Therapy:  surgical and non-surgical orthopedic patients,  high school athletes, professional athletes, as well as, those active weekend athletes.  An overall posture and balance assessment is performed during each visit to minimize compensatory movements.</p>
      <div>
        <a href="#"class="button">Meet our therapists</a>
      </div>
    </div>
      <img class="imgAbout" src="/images/clinic.jpg" alt="Case Physical Therapy Clinic" title="Case Physical Therapy Clinic">
  </div>
</section>
