<section class="staff">
  <div class="widthWrap">
    <h3>our experienced team</h3>
    <div class="staffWrap">
      <div class="memberBox">
        <img class="img-1" src="/images/Bill_Case.jpg" alt="Bill Case Physical Therapist" title="Bill Case">
        <h4>Bill Case</h4>
        <p>After graduating from UTMB in 1982, Bill began practicing and now has over 35 years of experience as a Physical Therapist.</p>
      </div>
      <div class="memberBox">
        <img class="img-1" src="/images/Bill_Case.jpg" alt="Bill Case Physical Therapist" title="Bill Case">
        <h4>Isabel Young</h4>
        <p>Isabel has over 15 years of experience as a Physical Thersapist. Originally from Panama, she has lived in Houston since 2002</p>
      </div>
      <div class="memberBox">
        <img class="img-1" src="/images/Bill_Case.jpg" alt="Bill Case Physical Therapist" title="Bill Case">
        <h4>John Doe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="memberBox">
        <a href="/therapists/">
          <img class="img-1" src="/images/Bill_Case.jpg" alt="Bill Case Physical Therapist" title="Bill Case">
          <h4>Jane Doe</h4>
        </a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>
