<header>
  <div class="infoWrap">
    <div class="topInfo">
      <div class="contactLinks">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:+1-713-840-8100">(713) 840-8100</a>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <a href="mailto:casephysicaltherapy@gmail.com">casephysicaltherapy@gmail.com</a>
      </div>
      <div class="socialLinks">
        <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="bottomInfo">
      <div class="logoBox">
        <a href="/"><img class="logo" src="/images/logo.gif" alt="Case Physical Therapy" title="Case Physical Therapy"></a>
      </div>
      <div class="menuIcon">&#9776;</div>
      <nav class="navBox" id="topNav">
        <a href="/" class="navLink">Home</a>
        <a href="/about/" class="navLink">About Us</a>
        <a href="/services/" class="navLink">Services</a>
        <a href="/patients/" class="navLink">New Patients</a>
        <a href="/contact/" class="navLink">Contact Us</a>
      </nav>
    </div>
  </div>
{{ if eq .Type "pages" }}
  <div class="banner">
    <h3>{{ .Params.heading }}</h3>
  </div>
{{ else }}
  <div class="bannerLandingPage">
    <div class="bannerWrap">
      <h1>Getting you back to doing what you love</h1>
      <a href="/about/" class="button">meet our team</a>
    </div>
  </div>
{{ end }}
</header>
