<header>
  <div class="nav-lockup">
    <div class="logo-wrapper">
      <a href="/"><img class="logo" src="/images/logo_pt.gif" alt="Case Physical Therapy" title="Case Physical Therapy"></a>
    </div>
    <div class="hamburger">&#9776;</div>
    <nav class="topnav" id="topNav">
      <a href="/" class="navLink">Home</a>
      <a href="/about/" class="navLink">About</a>
      <a href="/therapists/" class="navLink">Therapists</a>
      <a href="/contact/" class="navLink">Contact</a>
    </nav>
    <div class="call">
      <h3>call today: <a href="tel:+1-713-840-8100">(713) 840-8100</a></h3>
    </div>
  </div>
  {{ if eq .Type "pages" }}
    <div class="banner-page">
      <h3>{{ .Params.heading }}</h3>
    </div>
  {{ else }}
    <div class="banner-home">
      <h1>Getting you back to doing what you love</h1>
      <h2>case physical therapy</h2>
    </div>
  {{ end }}
</header>
