<section class="contact">
  <h2>let us help you in your recovery today</h2>
  <div class="info-wrap">
    <div class="info">
      <h3>Case Physical Therapy, Inc.</h3>
      <address>5757 Woodway, Suite 140 Houston, TX.  77057</address>
    </div>
    <button type="button" name="button">start today</button>
    <div class="info">
      <h3>office hours</h3>
      <p>monday - friday <span>9a.m. - 5p.m.</span></p>
    </div>
  </div>
  <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5757%20Woodway%2C%20Suite%20140%20Houston%2C%20TX.%20%2077057&key=AIzaSyBFSmOv7YQ4tyxwP87dNHdhnqZgMu1ET2g" allowfullscreen></iframe>
</section>
