<section class="home-patients" id="patients">
  <h2>begin your <span class="highlight">recovery</span> today</h2>
  <div class="patientWrap">
    <form action="index.html" method="post">
      <h3>Request Service</h3>
      <div>
        <input type="text" id="name" name="user_name" placeholder="Name">
      </div>
      <div>
        <input type="email" id="email" name="user_email" placeholder="Email">
      </div>
      <div>
        <input type="tel" id="telephone" name="user_telephone" placeholder="Phone">
      </div>
      <div>
        <textarea id="msg" name="user_message" placeholder="How can we help you?"></textarea>
      </div>
      <div>
        <button type="submit">Send request</button>
      </div>
    </form>
    <div class="patientBox">
      <h3>New Patient Information</h3>
      <p class="text-featured">If you are a new patient of Case Physical Therapy, please click <strong><a href="/images/New_Patient_Commercial_as_of_1.10.18.pdf">here</a></strong> to download the new patient paperwork. Print it, fill it out, and bring it with you to your first appointment. This helps us to make your appointment run as smoothly as possible and start on time.</p>
      <p class="text-featured">We currently accept Blue Cross and Blue Sheild (BCBS) and Medicare insurance providers.</p>
      <h3>hours of operation</h3>
      <p class="text-featured">Monday - Friday: 9 a.m. to 5 p.m.<br>Saturday & Sunday: Closed</p>
      <h3>contact information</h3>
      <p class="text-featured">5757 Woodway, Suite 140 Houston, TX. 77057<br>Work: <a href="tel: 1-713-840-8100">713-840-8100</a><br>Fax: <a href="tel: 1-713-840-8110">713-840-8110</a><br>Email: <a href="mailto: casephysicaltherapy@gmail.com">casephysicaltherapy@gmail.com</a></p>
    </div>
    <!-- <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=5757%20Woodway%2C%20Suite%20140%20Houston%2C%20TX.%20%2077057&key=AIzaSyBFSmOv7YQ4tyxwP87dNHdhnqZgMu1ET2g" allowfullscreen></iframe> -->
  </div>
</section>
