<section class="home-patients" id="patients">
  <div class="Wrap">
    <div class="Box-1">
      <h3>welcome to case physical therapy</h3>
      <p>Bill's practice is goal-oriented to assist the patients with proper flexibility, muscle weakness strengthening and balance/posture, during each rehabilitation visit.  Treatments are individualized with measurable results recorded to meet the specific needs of each patient.</p>
    </div>
    <div class="Box-2">
      <h3>welcome to case physical therapy</h3>
      <p>Bill's practice is goal-oriented to assist the patients with proper flexibility, muscle weakness strengthening and balance/posture, during each rehabilitation visit.  Treatments are individualized with measurable results recorded to meet the specific needs of each patient.</p>
    </div>
    <div class="Box-2">
      <h3>welcome to case physical therapy</h3>
      <p>Bill's practice is goal-oriented to assist the patients with proper flexibility, muscle weakness strengthening and balance/posture, during each rehabilitation visit.  Treatments are individualized with measurable results recorded to meet the specific needs of each patient.</p>
    </div>
  </div>
</section>
