<section class="home-resources">
  <h2>Explore our helpful <span class="highlight">resources</span></h2>
  <div class="resourceWrap">
    <div class="resourceBox">
        <a href="http://a.co/66nTy33" target="_blank"><img class="bookImage" src="/images/stand_tall.jpg" alt="Stand Tall Don't Fall cover photo" title="Stand Tall Don't Fall"></a>
        <div class="resourceDesc">
          <h4>Stand tall don't fall</h4>
          <p class="text-featured">Stand Tall, Don’t Fall is your complete guide to minimizing the physical limitations of the older adult. Complete with proven exercises to improve strength, balance, flexibility, and posture.</p>
        </div>
    </div>
    <div class="resourceBox">
        <a href="http://keepfitandmoving.com/" target="_blank"><img class="logoImage" src="/images/keep_fit.gif" alt=""></a>
        <div class="resourceDesc">
          <h4>keep fit and moving</h4>
          <p class="text-featured">Your #1 Resource for Healthy Aging, Senior Exercise and Fitness.</p>
        </div>
    </div>
  </div>
</section>
