<section class="home-services">
  <h2>What we treat</h2>
  <div class="serv-lockup">
    <div class="conditions">
      <img class="" src="images/condition.jpg" alt="Conditions we treat" title="Conditions we treat">
      <h3>common conditions</h3>
        <p>Post Surgery Recovery</p>
        <p>Athletic Injuries</p>
        <p>Orthopedic Injuries</p>
        <p>Back/Neck Pain</p>
        <p>Knee Injuries</p>
    </div>
    <img class="serv-image" src="images/bill_treatment.jpeg" alt="Case Physical Therapy Services" title="Case Physical Therapy Services">
    <div class="treatments">
      <img class="" src="images/treatment.jpg" alt="Treatments we provide" title="Treatments we provide">
      <h3>Treatments we provide</h3>
        <p>Ultrasound</p>
        <p>Manual Therapy</p>
        <p>Electric Stimulation</p>
        <p>Biofeedback</p>
        <p>Strengthening Exercises</p>
    </div>
  </div>
  <a href="#" class="button">learn more</a>
</section>
