<section class="home-services2">
  <h2><span class="highlight">treatments</span> we offer</h2>
  <p class="text-featured">Patient education regarding diagnosis, treatment, and realistic expectations for a successful recovery, is the key component to success at Case Physical Therapy.  This is achieved through one-on-one patient interaction, where questions and goals are assessed during each treatment session.</p>
  <div class="serviceWrap">
    <div class="conditionBox">
      <div class="conditionImage">
        <a href="/services/#manual-therapy">
          <img class="serviceImage" src="images/manual_therapy.jpg" alt="Manual Therapy" title="Manual Therapy">
          <div class="conditionImage-overlay">
            <span>learn more</span>
          </div>
        </a>
      </div>
      <h4>Manual Therapy</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="conditionBox">
      <div class="conditionImage">
        <a href="/services/#ultrasound">
          <img class="serviceImage" src="images/ultrasound_therapy.jpg" alt="utrasound therapy" title="utrasound therapy">
          <div class="conditionImage-overlay">
            <span>learn more</span>
          </div>
        </a>
      </div>
      <h4>Ultrasound</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="conditionBox">
      <div class="conditionImage">
        <a href="/services/#electric-stimulation">
          <img class="serviceImage" src="images/Electric_Stimulation.jpg" alt="Electric Stimulation" title="Electric Stimulation">
          <div class="conditionImage-overlay">
            <span>learn more</span>
          </div>
        </a>
      </div>
      <h4>Electric Stimulation</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="conditionBox">
      <div class="conditionImage">
        <a href="/services/#strengthening-exercises">
          <img class="serviceImage" src="images/Strengthening_Exercises.jpg" alt="Strengthening Exercises" title="Strengthening Exercises">
          <div class="conditionImage-overlay">
            <span>learn more</span>
          </div>
        </a>
      </div>
      <h4>Strengthening Exercises</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>


  </div>
</section>
