<section class="home-welcome">
    <div class="welcomeWrap">
      <div class="welcomeBox">
        <h2>welcome to <span class="highlight">case physical therapy</span></h2>
        <p class="text-featured">our practice is goal-oriented to assist you with proper flexibility, muscle weakness strengthening, and balance/posture alignment during each visit. Treatments are individualized with measurable results recorded to meet the specific needs of each patient.</p>
        <p class="text-featured">our founder is the author of the book <a href="#"><em>Stand Tall, Don’t Fall</em></a> and producer the DVD <a href="#"><em>Keep Fit and Moving</em></a> which educate people on how to stay strong to avoid poentially painful injuries. He makes regular television appearences advocating for his methods to help people stay healthy and strong.</p>
    </div>
    <div class="video">
      <iframe src="https://player.vimeo.com/video/206150128?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</section>
